<div class="row" *ngIf="member">
    <div class="col-4 text-center">
        <h1>{{member.knownAs}} Profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong>
            You've made changes. Any unsaved changes will be lost.
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>{{member.created | date: "dd / MM / yyyy"}}</p>
                </div>
            </div>
            <div class="card-footer text-center">
                <div class="btn btn-group d-flex text-center">
                    <button
                        class="btn btn-primary"
                        [disabled]="!editForm.dirty"
                        form="editForm">
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{member.knownAs}}" id="about">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h4>Description</h4>
                    <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction" rows="6"></textarea>
                    
                    <h4 class="mt-3">Looking for</h4>
                    <textarea class="form-control" [(ngModel)]="member.lookingFor" name="lookingFor" rows="6"></textarea>
                    
                    <h4 class="mt-3">Interests</h4>
                    <textarea class="form-control" [(ngModel)]="member.interests" name="interests" rows="6"></textarea>
                    
                    <h4 class="mt-3">Location Details</h4>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="city">City:</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control" ntype="text" [(ngModel)]="member.city" name="city">
                        </div>

                        <div class="col-auto">
                            <label for="country">Country:</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control" ntype="text" [(ngModel)]="member.country" name="country">
                        </div>
                    </div>
                </form>
            </tab>

            <tab heading="Edit Photos">
                <app-photo-editor [member]="member"></app-photo-editor>    
            </tab>
        </tabset>
    </div>
</div>