<div class="card" style="border: none;">
    <div class="card-body">
        <div *ngIf="messages?.length === 0">
            No messages yet... Say hi and start a conversation by using the message box below!
        </div>

        <ul *ngIf="messages?.length > 0" class="chat">
            <li *ngFor="let msg of messages">
                <div class="card mb-2">
                    <div class="card-header bg-light">
                        <span class="col-1 chat-img">
                            <img
                                class="rounded-circle"
                                src="{{msg.senderPhotoUrl || './assets/user.png'}}"
                                alt="{{msg.senderUserName}}">
                        </span>
                        <small class="text-muted" style="margin-left: 10px;">
                            <span class="fa fa-clock-o"></span>
                            <span> {{msg.messageSent | timeago}}</span>
                            <span class="text-danger" *ngIf="!msg.dateRead && msg.userName !== userName">
                                (unread)</span>

                            <span class="text-succes" *ngIf="msg.dateRead && msg.userName !== userName">
                                (read {{msg.dateRead | timeago}})</span>
                        </small>
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{msg.content}}</p>
                    </div>
                  </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input
                    name="messageContent"
                    [required]
                    [(ngModel)]="messageContent"
                    type="text"
                    class="form-control input-sm"
                    placeholder="Send a private message">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
